.knightslanding {
    height: 500px;
    width: 340px;
}

.allknights {
    height: 2050px;
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    
}

@media only screen and (max-width: 1025px) {
    .allknights {
      height: 100%;
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }

    .knightslanding {
        margin-top: 50px;
        
    }
  }

.fb-page span{
    height: 1000px;
    width: 500px
}

.fb_iframe_widget span{
    height: 1000px;
    width: 500px
}

element.style {
    height: 1000px;
    width: 500px
}

span {
    height: 1000px;
    width: 500px
}

.fb_iframe_widget iframe {
    
    height: 1000px;
    width: 500px
}