.App {
  background-color: #282c34;
  background-image: url("./3273057.jpg");
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: scroll;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media only screen and (max-width: 769px) {
  .footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 10px;
    font-size: 12px;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.banner {
  display: flex;
  height: 440px;
  width: 500px;
  border-radius: 40px;
  background-image: url("./knightsgaming.jpg");
  margin: 10px 10px 10px 10px;
  background-size: cover;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 10px;
}

#root {
  height: 100%
}